body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    text-decoration: underline;
    font-size: 250%;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 12px 10px;
    text-align: center;
    border: 2px solid #4CAF50;
}

th {
    background-color: #4CAF50;
    border: 2px solid #ccc;
    color: white;
}

tr:nth-child(even) {
    background-color: #bfeed6;
}

tr:hover {
    background-color: #9bddb1;
}